/* :root {
  --main-bg-color:   #FFFFFF;
  --main-font-color: #8A4B08;
  --main-bg-color2:  #FFFFFF;
} */

body{
  width: 80%;
  background: #FFFFFF;
  margin : 5px auto;
  font-size : 18px;
  font-family: Meiryo;
  color: var(--main-font-color);
}


header{
  height: 150px;
  padding: 0px 20px;
  /* background-color: #D9E5FF	; */
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
}

header img{
  height: 20px;
  padding: 20px 10px 10px 0;
}

.btn-wrapper{
  margin-top: 30px;
}

.btn{
  display : inline-block;
  font-size : 12px;
  color : #fff;
  background-color: #191970;
  padding : 8px 24px;
  border-radius: 4px;
}

main{
  display: block;
  height: 500px;
  width: 100%
  background-color: #E6FFE9	;
}

.title h3{
  font-size: 18px;
  color: #191970;
  border-bottom: 1px solid #191970;
  margin: 10px 0 10px 20px;
  width: 100px;
}

.request{
  margin-left: 20px;
  border: 1px solid #191970;
  width: 1000px;
  height: 450px;
  overflow-y: scroll;
}

.request p{
  margin: 10px 0 0 40px;
  font-size: 13px;
  color: #222;
}

.joinDay .year{
  margin-left: 52px;
}


.date{
  margin-left: 13px;
  width: 100px;
  font-size: 12px;
  color: #222;
}

.no{
  width: 100px;
  font-size: 12px;
  color: #222;
}

.name{
  margin-left: 52px;
  width: 120px;
  font-size: 12px;
  color: #222;
}

.div{
  margin-left: 39px;
  width: 150px;
  font-size: 12px;
  color: #222;
}

.group{
  margin-left: 13px;
  width: 150px;
  font-size: 12px;
  color: #222;
}

.position{
  margin-left: 65px;
  width: 150px;
  font-size: 12px;
  color: #222;
}

.approval{
  margin : 0 0 0 5px;
  width: 80px;
  font-size: 12px;
  color: #222;
}

.sex{
  /* margin-left: 65px; */
  width: 50px;
  font-size: 12px;
  color: #222;
}

.man{
  margin-left: 65px;
}

.year{
  margin-left: 39px;
  width: 60px;
  font-size: 12px;
  color: #222;
}

.age{
  margin : 0 0 0 5px;
  width: 50px;
  font-size: 12px;
  color: #222;
}

.zip1{
  margin : 0 0 0 135px;
  font-size: 12px;
  color: #222;
}

.tFree{
  display:inline;
  vertical-align:top;
}

.pref{
  margin : 0 0 0 39px;
  width: 200px;
  font-size: 12px;
  color: #222;
}

.addr1,.addr2,.addr3{
  margin : 0 0 0 96px;
  width: 200px;
  font-size: 12px;
  color: #222;
}

.tel1,.mobile1{
  margin : 0 0 0 13px;
  width: 50px;
  font-size: 12px;
  color: #222;
}

.tel2,.mobile2,.tel3,.mobile3{
  width: 50px;
  font-size: 12px;
  color: #222;
}

.mail{
  margin : 0 0 0 135px;
  width: 200px;
  font-size: 12px;
  color: #222;
}

.free{
  margin : 0 0 0 39px;
  width: 500px;
  height: 50px;
  font-size: 12px;
  color: #222;
}


.request select{
  /* margin: 0 0 0 60px; */
  font-size: 12px;
  color: #222;
}


footer{
  height: 100px;
  font-size: 12px;
  padding: 0px 20px;
  background: -moz-linear-gradient(bottom, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
  }

.copy{
  padding-top: 20px;
  font-size: 12px;
  font-style: italic;
}
